<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-sm-12">
				<h1 class="col-md-12 slogan"> Happier<span class="brand-color"> Klassroom</span></h1>
			<!-- 	<img src="img/line.png" class="line"> -->
				<br>
				<br>	
				<p class="sub-slogan">Klassroom helps you find the optimal seating arrangement for your class.</p> 
				<br>
				<br>	
				<br>
				<a href="#/criteria" class="btn btn-primary btn-primary.gradient btn-lg col-md-4 col-md-offset-4">   Try It Free!   </a>
				<br>
				<p class="text-muted sub-slogan-2 col-md-12">Made by a teacher for teachers</p>
			</div>
			<div class="col-md-5 col-sm-12 logo">
				<img class="showcase-img" src="img/happy-students.jpg">
			</div>
		</div>
	</div>
</div>
