<div class="container row">
	<div class="teacherProfileHeader">
		<div class="col-md-4 col-md-offset-4">
			<div class="teacherProfilePic"></div>
		</div>
	</div>

	<div class="col-md-4">
		<h3><small>Subject Name:</small> {{ subjectName }} </h3>
		<div class="form-group">
			<input type="text" placeholder="Ex: Math" class="form-control" ng-model="subjectName">
		</div>
	</div>
	<div class="col-md-4">
		<h3><small>Class Period:</small> {{ period }} </h3>
		<div class="form-group">
			<input type="text" placeholder="Ex: 5" class="form-control" ng-model="period">
		</div>
	</div>
	<div class="col-md-4">
		<h3><small>Teacher Name:</small> {{ teacherName }} </h3>
		<div class="form-group">
			<input type="text" placeholder="Ex: Ms. Rachael" class="form-control" ng-model="teacherName">
		</div>
	</div>
</div>
<br>
<br>
<br>
<br>



<div class="col-md-6 col-md-offset-4">
		<a href="#/groups" class="btn btn-primary">Generate Groups</a>
	</div>