
<div class="container klassroom-logic">
    <h2>Input your criteria by order of importance</h2>
    <br>
    <br>
    <div>
        <form class="form-horizontal" role="form">
            <table class="table">
                <tr ng-repeat="criterium in criteria">
                
                    <td> {{ $index + 1 }} </td>
                    <td> {{ criterium.name }} </td>   
                    <td><button class="btn btn-default btn-sm" type="button" ng-click="removeCriterium(criterium)">&#xfbe;</button> </td>
                </tr>

                <tr>
                    <td> <input type="text" class="form-control" ng-model="newCriteriumName"></td>
                    <td></td>
                    <td><button class="btn btn-default" type="submit" ng-click="addCriterium()">Add a criterion</button></td>
                </tr>
            </table>


            <div class="row">
                <div class="col-md-2 col-md-offset-8 col-sm-3 col-sm-offset-6 col-xs-6">
                    <button class="btn btn-default btn-block" ng-click="reset()">Reset all</button>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <a class="btn btn-primary btn-block" ng-click="save()" href="#/students">Next</a>
                </div>
            </div>
        </form>
    </div>
</div>